<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script defer src="static/pyscript.js"></script>
    <style>
        .container {
            text-align: center;
            border: 1px solid black;
            padding: 20px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/SolucionRetoII/index.html" ><button type="button" ><img src="logo.png" alt="Logo del Hub de Invovacion"></button></a>
            <h2 class="nombre-empresa"></h2>
        </div>
        <nav>
            <a href="https://www.google.com" class="nav-link"><button>Salir Del Programa</button></a>
            <a href="/index.html" class="nav-link"><button>Menu Principal</button></a>

        </nav>
    </header>
    <br>
    <div class="container">
        <h1>Encuestas de Satisfacción</h1>
    </div>
</body>
</html>
