
body{
    font-family: sans-serif;
    margin: 2;
}

header{
    display: flex;
    height: 90px;
    background-color: rgb(233, 230, 230);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo{
    height: 30px;
}